body
{
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100dvh;
    
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;

    &::before
    {
        content: '';
        display: block;
        position: fixed;
        inset: 0;
        background-color: var(--clr-bg-light);
        opacity: .3;
    }
    
    & > *
    {
        isolation: isolate;
    }
}

header
{
    padding: 1.6rem 2rem;
    
    background: var(--clr-bg);
    box-shadow: var(--sombra);
}

main
{
    width: min(100%, 1400px);
    margin: .5rem auto;
    padding: .5rem;
    
    background: var(--clr-bg-op);
    box-shadow: var(--sombra);
}

table 
{
    margin-top: 1rem;
    
    & tbody
    {
        font-size: .9em;
        
        & td:is(.taller,.planta)::after
        {
            display: inline-block;
            content: 'TALLER';
            padding: .1em 1em;
            margin-inline-start: 1em;
            
            font-size: .7em;
            font-weight: bold;
            border-radius: 1em;
            background: var(--success);
        }
        
        & td.planta::after
        {
            content: 'PLANTA';
            background: var(--info);
        }
        
        & a
        {
            display: inline-block;
            padding: .2rem 1rem;

            color: #fff;
            background: var(--clr-primary);
            text-decoration: none;
            text-wrap: nowrap;
            border: var(--border-card);
            border-top: solid 1px var(--clr-highlight);
            border-radius: .4rem;
            cursor: pointer;

            &:hover
            {
                color: var(--clr-txt);
                background: var(--gradient-hover);
            }
        }
    }
}

footer
{
    padding: .6rem;
    color: #fff;
    background: var(--clr-primary);
    
    --but-theme-default: url(../img/dark_icon_fff.svg);
    --but-theme-toggle: url(../img/light_icon_fff.svg);
    
    & img 
    {
        max-height: 3rem;
        width: auto;
        object-fit: contain;
        background: #fff;
        
        &:first-of-type
        {
            border: solid .3rem;
        }
    }
    
    & p 
    {
        font-size: .8rem;
        flex-grow: 1;
    }
    
    & svg
    {
        width: 3rem;
        height: auto;
    }
    
    & div
    {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@media (prefers-color-scheme: light)
{
    footer
    {
        --but-theme-default: url(../img/light_icon_fff.svg);
        --but-theme-toggle: url(../img/dark_icon_fff.svg);
    }
}